<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
        <title>Text analyser</title>
      </head>
      <body >
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">TextAnalyser.in</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/feature">Features</a>
                <a class="nav-link" href="/about">About us</a>
                <a class="nav-link" href="/contact">Contact us</a>
              </div>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </nav>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Text analyser</strong> You should check anything about this webpage.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Social Meadia</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>WhatsApp No</td>
                <td>9455832577</td>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mobile No</td>
                <td>7985654746</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Facebook</td>
                <td><a href="https://www.facebook.com/ashvini.sharma.754703">facebook.com</a></td>
                
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Blooger</td>
                <td><a href='https://www.blogger.com/blog/posts/8141690982751814270'>blogger.com</a></td>
             </tr>
             <tr>
                <th scope="row">5</th>
                <td>Github</td>
                <td><a href='https://github.com/ashuSharma1999?tab=repositories'>github.com</a></td>
             </tr>
            </tbody>
          </table>
          <div class="card text-center">
            <div class="card-header">
                Information
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">This should be a link to the contact page with a contact form, not an email link.
                  <br> There are lots of reasons to use a contact form, rather than an email link</p>
              
            </div>
            
          </div
    </body>
</html>