<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Text analyser</title>
  </head>
  <style>
    body{
      background-color:lightcyan;
    }
  </style>
  <body >
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TextAnalyser.in</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/feature">Features</a>
            <a class="nav-link" href="/about">About us</a>
            <a class="nav-link" href="/contact">Contact us</a>
          </div>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </nav>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Text analyser</strong> You should check anything about this webpage.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <center>
      <h1>Error!</h1>
      <br><h4>Please select any operation.....<br>Try Again....</h4>
      </center>
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">#Error</h5>
          <p class="card-text">The greatest mistake is to imagine that we never err. 
              Error is not a fault of our knowledge, but a mistake of our judgment giving assent to that which is not true.
               Ignorance is a blank sheet on which we may write;
               but error is a scribbled one from which we must first erase.</p>
            <p>Error is not a fault of our knowledge, but a mistake of our judgment giving assent to that which is not true.</p>
            <p>We come to learn that it does not pay to grieve too much over our errors. Ordinarily we try to do the best we can.</p>
          
        </div>
      </body>
</html>